<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<form method="POST" th:object="${userForm}" th:action="@{/registration}">
    <h4>Введите данные</h4>
    <span>Email:</span>
    <input type="text" th:field="*{username}"/>
    </p>
    <span>Имя:</span>
    <input type="text" th:field="*{name}"/>
    </p>
    <span>Фамилия:</span>
    <input type="text" th:field="*{lastName}"/>
    </p>
    <span>Отчество (если есть):</span>
    <input type="text" th:field="*{patronymic}"/>
    </p>
    <span>Пароль:</span>
    <input type="password" th:field="*{password}"/>
    </p>

    <button>Submit</button>

</form>

<p><a href="/">Home</a></p>
</body>
</html>